# dependencies
node_modules/
/.pnp
.pnp.*

# tests
/coverage
/playwright-report
/test-results

# production
/build
/dist
/apps/client/dist
/.next

# native generated projects and artifacts
/apps/desktop/src-tauri/gen/
/apps/desktop/src-tauri/target/

# local environment files
.env*
!.env.example

# tooling
*.tsbuildinfo
.eslintcache

# debug
npm-debug.log*
pnpm-debug.log*

# system files
.DS_Store
Thumbs.db
